body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: white;
    .carSection{
        background-color: rgb(50 ,50 ,50);
        width: 30%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        .clickerSection{
            margin-top: 250px;
            button{
                padding: 60px;
                font-size: 2rem;
                border: none;
                border-radius: 50%;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                transition: transform 0.2s ease, box-shadow 0.3s ease;
                &:hover{
                    transform: scale(1.05);
                }
                &:active{
                    transform: scale(0.95);
                }
            }
            .scaled{
                transform: scale(1.15);
                transition: transform 0.15s ease,
            }
        }
    }
    .statsSection{
        background-color: rgb(50, 0, 0);
        width: 50%;
        .stats{
            border: 1px solid white;
            padding: 10px;
            width: 25%;
            border-radius: 20px;
            margin: 20px;
        }
    }
    .upgradeSection{
        background-color: rgb(50 ,50 ,50);
        width: 20%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        .upgrades{
            margin: 50px;
            padding: 20px;
            border: 1px solid white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 80%;
            button{
                border: none;
                height: 15%;
                border-radius: 15%;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                transition: transform 0.2s ease, box-shadow 0.3s ease;
                &:hover{
                    transform: scale(1.05);
                }
                &:active{
                    transform: scale(0.95);
                }
            }
        }
    }
}